*.[oa]
*~

#Output of documentation:
doc/mockgals/

#Not needed files:
doc/copytowebpage.sh

#Products:
doc/MakingPlots/LaTeX/Plots.pdf
doc/MakingPlots/LaTeX/tikzext/
doc/docsrc/generalmacros.texi
doc/correctindextop
doc/addjavascript
mockinfo.txt
mock.fits
mockgals
PSF.fits
PSF.conv

doc/MakingPlots/GIFs/IntegPixFill/s7_integpixfill.gif
doc/MakingPlots/GIFs/RestPixFill/s7_restpixfill.gif
