*.[oa]
*~

#Output of documentation:
doc/mockgals/

#Products:
doc/MakingPlots/LaTeX/Plots.pdf
doc/MakingPlots/LaTeX/tikzext/
doc/copytowebpage.sh
doc/correctindextop
doc/addjavascript
mock.fits
mockgals
mockinfo.txt

doc/MakingPlots/GIFs/IntegPixFill/s7_integpixfill.gif
doc/MakingPlots/GIFs/RestPixFill/s7_restpixfill.gif
