*.[oa]
*~

#Output of documentation:
doc/mockgals/

#Products:
doc/MakingPlots/LaTeX/Plots.pdf
doc/MakingPlots/LaTeX/tikzext/
doc/addscripttohtmlhead
doc/copytowebpage.sh
doc/correctindextop
mock.fits
mockgals
mockinfo.txt
