html
{
  background-color:#D4D4D4;
}

body 
{
  border:1px solid black;
  padding:1em;

  font-family:verdana,helvetica,arial,sans-serif;
  font-size:14px;	

  margin-left:auto;
  margin-right:auto;
  width:50em;

  text-align:justify;
  text-justify:inter-word;
}




code,
samp
{
  color:#444444;
  border-radius:2px;
  background-color: #f1f1f1;
  font-family:"courier new";
}

div.example
{
  width:auto;
  border:1px solid #d4d4d4;
  background-color:#f1f1f1;
  font-family:"courier new";
  color:#444444;
  padding:0;
  margin:0 4em 0 2em;
}




a:link, 
a:visited, 
a:hover,
a:active
{
  text-decoration:none;
  color:#000078;
}
a:hover
{
  color:#0147FA;
}
